{% extends 'app/base.html' %}

{%block title%}home{%endblock%}

{% block body %}
    <h1>PU Result Portal</h1>
        
    <form method="get" action="{% url 'app:result' %}">
        {% csrf_token %}
        <label for="pu_id">Polling Unit ID:</label>
        <input type="text" name="pu_id" id="polling_unit_id">
        <button type="submit">View</button>
    </form>
    
    <h1>LGA Result Portal</h1>
    <form method="post" action="{% url 'app:result' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">View</button>
    </form>

    <h1>PU ADD Result Portal</h1>
    <form method="post" action="{% url 'app:result' %}">
        {% csrf_token %}
        {{ form2.as_p }}
        <button type="submit">Add</button>
    </form>
{% endblock body %}
    